<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="byc.avt.avanteeborrower"
    tools:ignore="GoogleAppIndexingWarning">

    <dist:module dist:instant="true" />

    <permission
        android:name="byc.avt.avanteeborrower.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.loanApplication.staff.StaffApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".view.loanApplication.KUTA.KUTAApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".view.loanApplication.KTA.KTAApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".view.settings.account.EssentialDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".view.settings.account.BankInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.settings.account.FamilyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.settings.account.AddressesActivity"
            android:exported="false" />
        <activity
            android:name=".view.settings.account.WorkInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.settings.account.PersonalDataActivity"
            android:exported="false" />
        <activity android:name=".view.settings.account.SettingAccountActivity" />
        <activity android:name=".view.settings.account.ChangePasswordActivity" />
        <activity android:name=".view.settings.general.SettingActivity" />
        <activity android:name=".view.auth.forgotPassword.ForgotPasswordActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity
            android:name=".view.registration.RegistrationFormActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".view.misc.OTPActivity" />
        <activity android:name=".view.misc.NoticeActivity" />
        <activity android:name=".view.auth.register.RegisterActivity" />
        <activity android:name=".view.auth.login.LoginActivity" />
        <activity android:name=".view.onboarding.OnBoardingActivity" />
        <activity android:name=".view.main.MainActivity" />
        <activity
            android:name=".view.misc.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>